.display-flex{
    display: flex;
}

/* dark-2 */
.text-gray{
    color: #424242;
}

/* dark-3 */
.text-lightgray{
    color: #727272;
}

/* orange-light */
.bg-orange{
    background-color: rgba(255, 144, 14, 0.1);
}

/* button */
.primary-button{
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}

.primary-button:hover{
    background-color: #d1750d;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-size: 3rem;
    font-weight: 700;
}

.nav-links{

}

.item{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-right: 40px;
}

.nav-link{
    text-decoration: none;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-tittle{
    font-size: 4rem;
    font-weight: 700;
}

.banner-description{
    font-size: 1rem;
    margin-bottom: 32px;
}

.banner-image{
    width: 100%;
}

@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
    }
}