.display-flex{
    display: flex;
}

/* dark-2 */
.text-gray{
    color: #424242;
}

/* dark-3 */
.text-lightgray{
    color: #727272;
}

.text-orange{
    color: #FF900E;
}

/* orange-light */
.bg-orange{
    background-color: rgba(255, 144, 14, 0.1);
}

/* button */
.primary-button{
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}

.primary-button:hover{
    background-color: #d1750d;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-size: 3rem;
    font-weight: 700;
}

.nav-links{

}

.item{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-right: 40px;
}

.nav-link{
    text-decoration: none;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-tittle{
    font-size: 4rem;
    font-weight: 700;
}

.banner-description{
    font-size: 1rem;
    margin-bottom: 32px;
}

.banner-image{
    width: 100%;
    margin-bottom: 45px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

.teams{
    align-items: center;
}

.photo-gallary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features{
    margin-left: 73px;
    max-width: 537px;
}

.feature-tittle{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.Quick-list{
    font-weight: 500;
    color: #727272;
}

.feature-description{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}

@media screen and (max-width: 576px) {
    .navbar,
    .teams,
    .nav-links{
        flex-direction: column;
    }

    .photo-gallary{
        grid-template-columns: repeat(1, 1fr);
    }

    .features{
        margin-left: 30px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .features{
        margin-left: 30px;
    }
}